@import "../variables/variables.scss";

.main-form {
  &__input {
    .basic-form {
      width: 350px;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      input {
        margin-bottom: 16px;
        border: 0.1px solid #afc1c9;
        padding: 16px;
      }

      input::placeholder {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 14px;
        opacity: 0.5;
        font-weight: 600;
      }

      button {
        padding: 0.75em;
        background-color: $primary-color;
        border: none;
        font-size: 16px;
        padding: 16px;
        color: $secondary-color;
        cursor: pointer;
        position: relative;
        transition: background-color 0.3s;

        svg {
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
          opacity: 0;
          transition: opacity 0.3s, transform 0.3s;
        }

        &:hover {
          background-color: #b51827;

          svg {
            opacity: 1;
          }
        }
      }
    }
  }
}
