@import "../variables/variables.scss";

.main-form {
  &__input.step-3 {
    width: auto;

    .bedroom-number {
      display: flex;

      &__block {
        border: 0.1px solid #afc1c9;
        height: 100px;
        width: 100px;
        cursor: pointer;
        outline: none;
        flex: 1;
        position: relative;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
          border-right: 0px;
        }

        div {
          color: $font-color;
        }

        &:first-child {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }

        &:last-child {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }

        &__info {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 12px;

          span {
            font-size: 32px;
            font-weight: bold;
          }

          div {
            font-size: 16px;
            font-weight: bold;
          }
        }

        &:hover {
          // z-index: 2;
          border-color: $primary-color;

          span {
            color: $primary-color;
          }

          div {
            color: $primary-color;
          }
        }

        &:hover + a {
          border-left-color: $primary-color;
        }

      }
    }
  }
}

@media (max-width: 767.98px) {
  .container .main-form {
    &__input.step-3 {
      width: 100%;

      .bedroom-number {
        flex-direction: column;

        &__block {
          width: 100%;
          padding: 10px 0 10px 0;

          border-right: 0.1px solid #afc1c9;

          
          &:not(:last-child) {
            border-bottom: 0px;
          }  

          &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: unset;
          }
  
          &:last-child {
            border-top-right-radius: unset;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
          }

          &:hover {
            border-color: $primary-color;
          }

          &:hover + a {
            border-left: 0.1px solid #afc1c9;
            border-top-color: $primary-color;
          }


          &__info {
            flex-direction: row;
            height: 50px;

            div, span {
              font-size: 16px;
            }
          }
        }
      }

    }
  }
}
