@import "../variables/variables.scss";

.main-form {
    &__input.step-7 {
        p {
            font-size: 14px;
            text-align: center;
            margin-top: 20px;
            font-weight: 600;
            color: #263238;
            opacity: 0.5;
        }
    }
}