.main-form {
  max-width: 440px;

  &__input.step-10 {
    .basic-form {
      text-align: center;

      a {
        font-size: 20px;
        font-weight: 600;
        display: block;
        // width: 100%;
      }

      p {
        opacity: 0.5;
        font-size: 16px;
        font-weight: 600;
        color: #263238;
      }
    }
  }
}

@media (max-width: 767.98px) {

    .container.final {
      gap: 65px;

      .main-form {   
        &__input.step-10 {
          .basic-form {  
            a {
                font-size: 24px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }
    }
}
