@import "../variables/variables.scss";

.main-form {
  &__input.step-5 {
    width: 480px;

    .urgency {
      display: flex;
      width: 100%;
      height: 140px;

      &__block {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        border: 0.1px solid #afc1c9;
        cursor: pointer;

        p {
          color: $font-color;
        }

        &:not(:last-child) {
          border-right: 0px;
        }

        &:hover {
          border-color: $primary-color;
          color: $primary-color;

          svg {
            path {
              fill: $primary-color;
            }
          }

          p {
            color: $primary-color;
          }
        }

        &:hover + a {
          border-left-color: $primary-color;
        }

        &:first-child {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }

        &:last-child {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }

        svg {
          display: flex;
          justify-content: center;
          width: 50px;
          height: 50px;
        }

        p {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .container .main-form {
    &__input.step-5 {
      width: 350px;

      .urgency {
        flex-direction: column;
        height: auto;

        &__block {
          flex-direction: row;
          justify-content: flex-start;
          padding: 15px;
          position: relative;

          border-right: 0.1px solid #afc1c9;

          &:not(:last-child) {
            border-bottom: 0px;
          }

          &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: unset;
          }

          &:last-child {
            border-top-right-radius: unset;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
          }

          &:hover {
            border-color: $primary-color;
          }

          &:hover + a {
            border-left: 0.1px solid #afc1c9;
            border-top-color: $primary-color;
          }

          svg {
            height: 40px;
          }

          p {
            position: absolute;
            right: 50%;
            transform: translateX(50%);
          }
        }
      }
    }
  }
}
